main {
    height: 100vh;
}

.taskWrapper, .task {
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, .2);
    padding: 20px;
    margin-bottom: 20px;
}

.taskHeading, .task__heading {
    font-size: 28px;
    margin-bottom: 15px;
    color: #b61b1b;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
}

.taskDescription, .task_description {
    font-size: 16px;
    color: #752b73;
    word-wrap: break-word;
}
